[credential]
	helper = store
[user]
	email = integrityms@gmail.com
	name = locate

[includeIf "gitdir:~/admin/v1/"]
    path = ~/admin/v1/.account.config

[includeIf "gitdir:~/admin/v2/"]
    path = ~/admin/v2/.account.config

[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = vimdiff

[mergetool]
	keepBackup = false
    
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[core]
	excludesfile = /home/locate/.gitignore_global
	editor = nvim
[safe]
	directory = %(prefix)///wsl$/Ubuntu-20.04/home/ubuntu/mobon/admin/v1
	directory = %(prefix)///wsl$/Ubuntu20.04LTS/home/locate/mobon/admin/v1
	directory = %(prefix)///wsl$/Ubuntu20.04LTS/home/locate/mobon/admin/v2
	directory = *
[merge "ours"]
	driver = true
